{% extends "basic.html" %}


{% macro list2csv(list) %}
  {% for  item in list%}
    {{item}},
  {% endfor %}
{% endmacro %}


{% macro printRowNode(node) %}

  <td>
        <a href="{{url_for('readEntity',uuid=node['uuid']| int)}}"  target="_blank">
          {{node['uuid']}}
        </a>
  </td>

  <td>
          {{node['name']}}
  </td>

  <td>
          {{toPrintString(node.labels)}}
  </td>

  <td>
          {{toPrintString(node['aliases'])}}
  </td>

{% endmacro %}

{% macro node_short_desc(node) %}


    {% if '_token_' in node.properties %} <!--if from crawldb graph -->
              {% set connectedidname = '_resolvedWithUUID_' %}
    {% else %}
              {% set connectedidname = 'uuid' %}
    {% endif %}



    <a href="{{url_for('readEntity',uuid=node[connectedidname]| int)}}"> {{node['name']}} : {{node[connectedidname]}}</a> :
    [
        {% for label in node.labels %}
            {{label}},
        {% endfor %}
    ]


{% endmacro %}


{% macro entity_read(node,verifier) %}

    <div class="row">
      <!--<div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="edit.html" >Edit Profile</A>

        <A href="edit.html" >Logout</A>
       <br>
<p class=" text-info">May 05,2014,03:00 pm </p>
      </div>!-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          {% if 'entity' in node.labels %}
              {% set idname = 'uuid' %}
              {% set IDNAME = 'UUID' %}
              {% set nodename = node.properties['name']%}
          {% elif 'hyperedgenode' in node.labels %}
              {% set idname = 'henid' %}
              {% set IDNAME = 'HYPER-EDGE-NODE ID' %}
              {% set nodename = 'HYPER-EDGE-NODE'%}
          {% endif %}



          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{nodename}} : {{node.properties[idname]}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="{{node.properties['name']}}" style="padding-top: 5px" class="img-responsive pull-xs-left" src="http://cdn2.saveritemedical.com/product-default.jpg"> </div>

                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                        <tr>
                        <td><b>
                            <a href="">Labels</a>
                        </b></td>
                        <td>

                          <!--TODO: REMOVE THE COMMA-->
                          {{toPrintString(node.labels)}}

                        </td>
                      </tr>

                      {% if not verifier %}
                        <tr>
                            <td><b>{{IDNAME}}</b></td>
                            <td>{{node.properties[idname]}}</td>
                        </tr>
                      {% endif %}



                      {% if 'hyperedgenode' in node.labels %}
                            <tr>
                                <td><b>Connected Entities</b></td>
                                <td>
                                  {% for en in connected_ens %}

                                      {{node_short_desc(en)}}<hr/>

                                  {% endfor %}

                                </td>
                            </tr>
                      {% endif %}



                      {% for prop in node.properties %}
                        {% if prop != idname %}
                          <tr>
                            <td><b>{{prop}}</b></td>
                            <td>{{toPrintString(node.properties[prop])}}</td>
                          </tr>
                        {% endif %}
                      {% endfor %}

                    </tbody>
                  </table>

                  {% if not verifier %}

                  <div class="btn-group" role="group" aria-label="...">

                    <a href="{{url_for('user.edit',kind='node',objid=node['uuid']|int)}}" role="button">
                        <button type="button" class="btn btn-default">Edit Info</button>
                    </a>

                        {%set nodeuuid = node['uuid']|string%}
                        {% set queryval = "match (n:entity {uuid:"+nodeuuid+"})-[r]-(p) return n,r,p"%}

                        <a href="{{url_for('guest.viz',query=queryval)}}" role="button">
                          <button type="button" class="btn btn-default">

                                View Connections
                          </button>
                        </a>
                        <button type="button" class="btn btn-default">Request Delete</button>
                  </div>
                  <br/>
                  <br/>



                          <form role="form" action="{{url_for('guest.viz')}}" method="POST">

                            <input type="hidden" name="query" value="match (n:entity {uuid:{{node['uuid']}}})-[r]-(p) return n,r,p"/>

                          <button type="submit" class="btn btn-primary">
                            View Connections
                          </button>

                        </form>

                  {% endif %}

                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <!--<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>-->
                    </div>

          </div>
        </div>
      </div>

{% endmacro %}



{% macro relation_read(rel, verifier, fromcrawldb) %} <!-- TODO add verifier variable -->

<div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Relationship ID : {{rel.properties['relid']}} </h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="{{rel.type}}" style="padding-top: 5px" class="img-responsive pull-xs-left" src="http://cdn2.saveritemedical.com/product-default.jpg"> </div>

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                         <tr>
                            <td><b>REL-ID</b></td>
                            <td>{{rel.properties['relid']}}</td>
                         </tr>


                      <tr>
                        <td><b>Type</b></td>
                        <td>
                            {{rel.type}}
                        </td>
                      </tr>


                     <tr>
                        <td>
                          <b>
                            Start Entity UUID
                          </b>
                        </td>



                        <td>


                          {% if not fromcrawldb %}

                          <a href="{{url_for('readEntity',uuid=rel.start_node.properties['uuid']|int )}}" target="_blank">
                              {{rel.start_node.properties['uuid']}} : {{rel.start_node.properties['name']}}
                          </a>

                          {% endif %}

                          {% if fromcrawldb %}

                          <!--TODO: get the constant _resolvedWIth_ out -->
                          <a href="{{url_for('readEntity',uuid=rel.start_node.properties['_resolvedWithUUID_']| int)}}" target="_blank">
                              {{rel.start_node.properties['_resolvedWithUUID_']}} : {{rel.start_node.properties['name']}}
                          </a>

                          {% endif %}

                          <br/>
                          [
                            {% for label in rel.start_node.labels %}
                             {{label}} ,
                            {% endfor %}
                          ]


                        </td>
                     </tr>

                     <tr>
                        <td>
                          <b>
                            End Entity UUID
                          </b>
                        </td>

                        <td>

                          {% if not fromcrawldb %}

                          <a href="{{url_for('readEntity',uuid=rel.end_node.properties['uuid'])}}" target="_blank">
                              {{rel.end_node.properties['uuid']}} : {{rel.end_node.properties['name']}}
                          </a>

                          {% endif %}

                          {% if fromcrawldb %}

                          <!--TODO: get the constant _resolvedWIth_ out -->
                          <a href="{{url_for('readEntity',uuid=rel.end_node.properties['_resolvedWithUUID_'])}}" target="_blank">
                              {{rel.end_node.properties['_resolvedWithUUID_']}} : {{rel.end_node.properties['name']}}
                          </a>

                          {% endif %}


                        </td>
                     </tr>

                      {% for prop in rel.properties %}
                        {% if prop != 'relid' %}
                          <tr>
                            <td><b>{{prop}}</b></td>
                            <td>{{rel.properties[prop]}}</td>
                          </tr>
                        {% endif %}
                      {% endfor %}

                    </tbody>
                  </table>


                  {% if not verifier %}

                  <a href="{{url_for('user.edit',kind='relation',objid=rel.properties['relid']|int)}}" class="btn btn-primary">Edit Relation</a>

                  <a href="#" class="btn btn-primary">Request Delete</a>

                  <a href="#" class="btn btn-primary">Request Delete</a> <!--TODO:  When showing hyperedge resolution, why not this! -->

                  {% endif %}

                </div>
              </div>
            </div>
                 <div class="panel-footer">
                    </div>

          </div>
        </div>
      </div>

{% endmacro %}

{% macro labeltable(labels, label_keys, linkable_list)%}

<!-- linkable list will contain all the keys which will be linkable -->
<table class="table table-hover" >
    <tr>
        {%for k in label_keys %}
            <th>{{k}}</th>
        {%endfor%}
    </tr>
    {%for l in labels%}
        <tr>
            {% for k,v in l.items() %}
                {%if k in linkable_list %}
                    <td>
                        {% set url = 'guest.' ~ k %}
                        <a href="{{url_for(url, id=v)}}">
                            {{v}}
                        </a>
                    </td>
                {%else%}
                    <td>{{v}}</td>
                {%endif%}
            {%endfor%}
        </tr>
    {%endfor%}
</table>
{% endmacro %}

{% macro proptable(props, prop_keys, linkable_list) %}
<!-- linkable list will contain all the keys which will be linkable -->
<!-- FIXME - Is this table macro redundant?? After testing, yeah it is!!! -->
<table class="table table-hover" >
    <tr>
        {%for k in prop_keys %}
            <th>{{k}}</th>
        {%endfor%}
    </tr>
    {%for p in props%}
        <tr>
            {% for k,v in p.items() %}
                {%if k in linkable_list %}
                <!--TODO: Change above line to k in linkable_list to generalize -->
                    <td>
                        {% set url = 'guest.' ~ k %}
                        <a href="{{url_for(url, id=v)}}">
                            {{v}}
                        </a>
                    </td>
                {%else%}
                    <td>{{v}}</td>
                {%endif%}
            {%endfor%}
        </tr>
    {%endfor%}
</table>
{% endmacro %}

{% macro changepanel(changeid_entry)%}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Details for ChangeID # - {{changeid_entry.changeid}}</h3>
    </div>
<!-- TODO - Replace with a panel maybe-->
<!-- TODO - similar to show_task.html -->
<table class="table table-user-information">
    {% for k,v in changeid_entry.items() %}
        <tr>
            <td><b> {{k}}: </b> </td> <td> {{v}} </td>
        </tr>
    {%endfor%}
</table>
</div>
{% endmacro %}
