<!-- extend base layout -->
{% extends "basic.html" %}
{% block content %}
<div class="jumbotron">
	<div class="starter-template">
		<h2>Power Elites is a free database of who-knows-who at the heights of business and government.
		</h2>
		<p class="lead">We're a watchdog network connecting the dots between the India's 1%.
		</p>
	</div>
</div>
<div class="starter-template">
	<h2>Investigate cronyism, conflicts of interest, and systemic corruption.
	</h2>
	<p class="lead">Who do the wealthiest Indians donate their money to?
		<br/>
		Where did Lok Sabha officials work before they were appointed?
		<br/>
		Which business tycoons are married to politicians? Who do they lobby for?
	</p>
</div>
{% endblock %}
