<!-- extend base layout -->
{% extends "basic.html" %}
{% block content %}

<div class="starter-template" align="center" >
    <h3>
        Enter task info - <hr/><br/>
        <form class="form-horizontal" method="POST" action="{{url_for('crawler.submittask')}}">
            <fieldset>

            <!-- Form Name -->
            <legend>Add task</legend>

            <!-- userid label by form control static-->
            <div class="form-group">
                <label class="col-md-4 control-label">UserId:</label>
                <div class="col-md-4 form-control-static">
                    <input type="hidden" name="ownerid" value="{{session.get('userid')}}"/>
                    {{session.get('userid')}}
                </div>
            </div>

            <!-- apikey label by form control static
            <div class="form-group">
                <label class="col-md-4 control-label">Apikey:</label>
                <div class="col-md-4 form-control-static">
                </div>
            </div>
            -->

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="nametask">Task Name:</label>  
                <div class="col-md-4">
                    <input id="nametask" name="nametask" type="text" placeholder="" class="form-control input-md" required="">
                    <span class="help-block">eg: Entering crawled nodes</span>  
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="desc">Description</label>
                <div class="col-md-4">                     
                    <textarea class="form-control" id="desc" name="desc">Enter short description here</textarea>
                </div>
            </div>
            
            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submitBtn"></label>
                <div class="col-md-8">
                    <button id="submitBtn" name="submitBtn" class="btn btn-success">Submit</button>
                    <button id="cancelBtn" name="cancelBtn" class="btn btn-danger">Cancel</button>
                </div>
            </div>

            </fieldset>
        </form>

    </h3>
</div>

{% endblock %}
