<!-- extend base layout -->
{% extends "basic.html" %}
{% block content %}
<script src="{{url_for('static', filename='js/dynamicinput.js')}}"></script>
<div class="container">
    <h1>Task Info </h1>
    <div class="row">
        <div class="col-md-6 toppad" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Task Props</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 " align="center"> </div>
                        <div class=" col-md-10 col-lg-10 "> 
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td><b>Task Name:</b></td>
                                        <td>{{task.name}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Task Description:</b></td>
                                        <td>{{task.description}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Task owner</b></td>
                                        <td>{{task.ownerid}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="control-group" id="fields">
                    <label class="control-label" for="field1">Add users to this task</label>
                    <div class="controls"> 
                        <form role="form" autocomplete="off" method="POST" action="{{url_for('crawler.addUser')}}">
                            <input type="hidden" name="taskid" value="{{task.taskid}}">
                            <div class="entry input-group col-md-6">
                                <input class="form-control" name="fields[]" type="text" placeholder="Type username" />
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-add" type="button">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                            <button type="submit" class="btn btn-primary">Add User(s)</button>
                        </form>
                        <br>
                        <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another user</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Activities
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {%for log in logs%}
                        <li class="list-group-item">
                            <table class="table table-sm">
                                <tbody>
                                    <tr>
                                        <td><b>Desc:</b></td>
                                        <td>{{log['desc']}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Date:</b></td>
                                        <td>{{log['ddate']}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>By</b></td>
                                        <td>{{log['userid']}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}
