<!-- extend base layout -->
{% extends "user_wiki_common.html" %}


{% block content %}


<div class="starter-template" align="center">

    {{temptext|safe}}

    {% set action=''%}
    {% if objid%}
      {% set action = url_for('user.edit', kind=kind, objid=objid) %}
    {% else %}
      {% set action = url_for('user.edit', kind=kind) %}
    {% endif %}

    <form class="form-horizontal" method="post" action="{{action}}">

      {% if kind == 'relation' %}
        <input type="hidden" name="startnodeid"   value="{{obj.start_node['uuid']}}"/>
        <input type="hidden" name="endnodeid"   value="{{obj.end_node['uuid']}}"/>
        <input type="hidden" name="reltype"   value="{{obj.type}}"/>
        {{form.csrf_token}}

      {% endif %}


      <div class="col-xs-9">
          <div class="input-group">
              <span class="input-group-addon">
                source-url**
            </span>
              <input type="text" name="sourceurl" class="form-control input-sm" aria-label="..." value = "{{sourceurl}}" placeholder="http://" >
              <!-- <input type="hidden" name="propname[]" class="form-control input-sm"  value = "{{prop}}" > -->
          </div>
          <!-- /input-group -->
      </div>
      <br/>
      <br/>

{% if kind=='node' %}
      <div class="controls">


        <legend>Add Labels</legend>
        <br/>

        <span id="helpBlock" class="help-block">
            Some obj labels: {{toPrintString(labels)}}
        </span>



        {% for label in obj.labels %}

          {{ generatelabel(label,'origlabel[]') }}

        {% endfor %}

        {% for label in newlabels %}

          {{ generatelabel(label,'newlabel[]',True,False,False) }}

        {% endfor %}


        {{ generatelabel('','newlabel[]',True,False) }}

      </div>
{%endif%}

        <div class="controls">


          <br/>



          <legend>Edit existing props</legend>

          {% for prop in obj.properties %}

            {% if prop!='uuid' and prop!='relid' %}

              {{generaterow(prop,toPrintString(obj[prop]),'actualpropname[]','actualpropval[]') }}

            {%endif%}

          {% endfor %}

          <br/>





          <legend>Custom props</legend>

          {% for prop in newpropdict %}

            {{ generaterow(prop, newpropdict[prop], 'propname[]','propval[]',True,False,False) }}

          {% endfor %}

          {{ generaterow('','','propname[]','propval[]',True,False) }}


        </div> <!-- controls -->



        <br/>

        <button type="submit" name="editForm" class="btn btn-primary">Submit</button>

    </form>


</div>


<!--

</div> -->
{% endblock %}
