<!-- extend base layout -->
{% extends "basicwithmacros.html"%}
{% block content %}
<div class="container">
    <!-- For the labels-->
    <div class="row">
        <div class="col-md-8 col-md-offset-3">
            <h3>Labels for {{uuid_entry.name}}</h3>
            <!-- TODO - Replace with a panel maybe-->
            <!-- TODO - filter table entries (list_tasks.html)-->
            {{labeltable(labels, label_keys, ['changeid'])}}

         </div>
    </div>

    <hr>

    <!-- For the props-->
    <div class="row">
        <div class="col-md-8 col-md-offset-3">
            <h3>Properties for {{uuid_entry.name}}</h3>
            <!-- TODO - Replace with a panel maybe-->
            <!-- TODO - filter table entries(list_tasks.html)-->
            {{labeltable(props, prop_keys, ['changeid'])}}
        </div>
    </div>
</div>
{% endblock %}
