<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
     <div class="starter-template" align="center" >
        <h3>

            Welcome verifier! <hr/><br/>
            

            {{unresolvedTotal}} nodes to resolve in total <br/>
            {{immediateUnResolvedTotal}} connected nodes to immediately resolve<br/>

            <a href={{url_for('verifier.startTask', kind = 'node')}}>
                    <button type="submit" class="btn btn-primary">Resolve Nodes!</button>
            </a>
            <br/>
            <hr/>


            {{r_unresolvedTotal}} relations to resolve <br/>
            {{r_immediateUnResolvedTotal}} relations to immediately resolve<br/>

            <br/>




            <a href={{url_for('verifier.startTask', kind = 'relation')}}>
                    <button type="submit" class="btn btn-primary">Resolve Relations!</button>
            </a>
            <br/>
            <hr/>


            {{h_unresolvedTotal}} hyper-edge-nodes to resolve <br/>
            {{h_immediateUnResolvedTotal}} hyper-edge-nodes to immediately resolve<br/>

            <br/>




            <a href={{url_for('verifier.startTask', kind = 'hyperedgenode')}}>
                    <button type="submit" class="btn btn-primary">Resolve Hyper-Edge-Nodes!</button>
            </a>
            <br/>
            
        </h3>

        

    </div>
     


<!-- 

</div> -->
{% endblock %}