<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
     <div class="starter-template" align="center" >
        <h3>

            Welcome verifier! <hr/><br/>
            

            {{unresolvedTotal}} nodes to resolve in total <br/>
            {{immediateUnResolvedTotal}} connected nodes to immediately resolve<br/>
            <br/>

            <a href={{url_for('verifier.startNodeTask')}}>
                    <button type="submit" class="btn btn-primary">Resolve Nodes!</button>
            </a>
            <br/>
            <hr/>


            {{r_unresolvedTotal}} relations to resolve <br/>
            {{r_immediateUnResolvedTotal}} relations to immediately resolve<br/>

            <br/>
            <br/>




            <a href={{url_for('verifier.startRelTask')}}>
                    <button type="submit" class="btn btn-primary">Resolve Relations!</button>
            </a>
            <br/>
            <hr/>
            
        </h3>

        

    </div>
     


<!-- 

</div> -->
{% endblock %}