<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<br/>
<br/>

<!--
  Use this to gernerate forms:
  http://bootsnipp.com/forms
-->
<form class="form-horizontal" method="post" action="">

<fieldset>

<!-- Form Name -->

<legend>
  <h2>
    Merge Nodes
  </h2>
</legend>

<!-- form.hidden_tag() -->


<!-- Text input-->
<!-- <div class="form-group">
  <label class="col-md-4 control-label" for="email">form.emailid.label</label>  
  <div class="col-md-4">
  form.emailid(class="form-control input-md",placeholder="Email",required="",autofocus="")
  <span class="help-block">Your Email here</span>  
  </div>
</div>
 -->




<div class="form-group">
  <label class="col-md-4 control-label" for=""></label>
  <div class="col-md-4">
    <!-- Button -->
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</div>


</fieldset>
</form>

{% endblock %}
