<!-- extend base layout -->
{% extends "basicwithmacros.html" %}
{% block content %}

<br/>
<h1> Crawl ID : {{crawl_id}} </h1>
<h1> Kind: {{kind}} </h1>
<br/>


<div class="starter-template" align="center" >


<form class="form-horizontal" method="post" action={{url_for('verifier.diffPushGen', kind=kind)}}>
    


    {% if new_labels %}
    <h4>New labels to add</h4>
       <table class="table  table-hover">
            {% for label in new_labels%}
                <tr>
                    <td>

                        <div class="checkbox">
                            <label><input type="checkbox" name="newlabels" value="{{label}}"></input> <b>{{label}}</b>
                            </label>
                        </div>

                    </td>
                </tr>
            {% endfor %}
        
       </table>
    <br/>
    {% endif %}


    {% if new_props %}
    <h4>New properties to add</h4>
       <table class="table table-hover">
            

            {% for prop in new_props%}
                <tr>
                    <td>

                        <div class="checkbox">
                            <label><input type="checkbox" name="{{prop}}" value="{{naya[prop]}}"></input> {{prop}}: <b>{{naya[prop]}}</b> </label>
                        </div>

                        
                    </td>
                </tr>
            {% endfor %}
        
       </table>
    <br/>
    {% endif %}

    {% if conf_props %}
    <h4>Conflicting properties to resolve</h4>
       <table class="table table-hover">
            

                <tr>
                    <td>
                        <b>Original</b>
                    </td>
                    <td>
                        <b>New</b>
                    </td>
                </tr>


            {% for prop in conf_props%}

                {% set origprop, nayaprop = diffObjects(orig[prop], naya[prop]) %}
            
                <tr>
                    <td>
                       
                    <div class="radio">
                        <label>   
                            <!--checked is very imp very very imp!-->
                            <!-- else null goes or nothing goes and that creates a problem! -->
                            <input type="radio" name="{{prop}}" value="{{orig[prop]}}" checked=""></input> {{prop}}: <b>{{origprop | safe}}</b>
                        </label>
                    </div>                    
                     

                    </td>
                    <td>

                        <div class="radio">
                            <label>
                                <input type="radio" name="{{prop}}" value="{{naya[prop]}}"></input> {{prop}}: <b>{{nayaprop | safe}}</b>
                            </label>
                        </div>


                    </td>

                </tr>
            {% endfor %}
        
       </table>
    <br/>
    {% endif %}



    <div class="form-group">
                <label class="col-md-4 control-label" for=""></label>
                <div class="col-md-4">
                <!-- Button -->
                <button type="submit" class="btn btn-default">Submit</button>
                </div>
    </div>

</form>





</div>
    
   
{% endblock %}