<!-- extend base layout -->
{% extends "verifier_common.html" %}

{% block contentinner %}

    <!-- 
        Why buttons? Since they do not conflict with form.
        Also, this way just click above and the uuid list changes for us.
        This is a good way, dont change it.
    -->
        
        <a href={{ url_for( 'verifier.match', kind = kind) }}>

                    <button type="submit" class="btn btn-primary">No post algo!</button>
        </a>

        <a href={{ url_for( 'verifier.match', kind = kind, postalgo = "waterman") }}>

                    <button type="submit"  class="btn btn-primary">Waterman!</button>
        </a>
        
        <a href={{ url_for( 'verifier.match', kind = kind, postalgo = "jaro" ) }}>
                    <button type="submit" class="btn btn-primary">Jaro!</button>
        </a>

        {{super()}}

{% endblock %}


{% block content %}




<div class="starter-template" align="center" >

    {{super()}}

    <!--<div class="container">-->
        <br/>
        <h1> Crawl ID : {{ID}} </h1>
        <h3> kind: {{kind}} </h3>
        <br/> 
    <!--</div> container-->
    <h3>To be matched</h3>

        {% if kind == 'node' %}
            {{entity_read(row,True)}}
        {% endif %}


        {% if kind == 'relation' %}
            {{relation_read(row, True, True)}}
        {% endif %}

        {% if kind == 'hyperedgenode' %}
            {{entity_read(row,True)}}
        {% endif %}
    <hr/>

    <form id="matchform" class="form-horizontal" method="post" action={{url_for('verifier.match', kind = kind)}}>

    <input type="hidden" name="##crawl_id##" value="{{ID}}"/>
    <input type="hidden" name="##kind##" value="{{kind}}"/>


     <!-- <h3>Choose post algo: </h3>
     
     <label><input type="radio" name="postalgo" value="none"></input> None </label>

     <label><input type="radio" name="postalgo" value="jaro"></input> Jaro </label>

     <label><input type="radio" name="postalgo" value="waterman"></input> Waterman </label>

     <button type="submit" name="submit" class="btn btn-default" value="algo">Go Now!</button> -->

</div>  
        <h3>From graph</h3>
        <br/>

        {% if kind == 'node' %}
            <table class="table table-hover">
                    <tr>
                        
                        <td>
                            <b>
                                uuid
                            </b>
                        </td>
                        <td>
                            <b>
                                name
                            </b>
                        </td>
                        <td>
                            <b>
                                labels
                            </b>
                        </td>
                        <td>
                            <b>
                                aliases
                            </b>
                        </td>
                        <td>
                            <b>
                                select
                            </b>
                        </td>
                    </tr>

                    {% for obj in graphobjs %}
                    <tr>
                        

                        {{printRowNode(obj)}}

                        <td>
                            <div class="radio">
                                <label><input type="radio" name="match_id" value="{{obj.properties[idname]}}"></input> </label>
                            </div>
                        </td>

                    </tr>
                    {% endfor %}

            </table>


        {% else %}        

            {% for obj in graphobjs %}
                 
            
                <div class="radio">
                    <label><input type="radio" name="match_id" value="{{obj.properties[idname]}}"></input> {{obj.properties[idname]}}</label> <!-- AA -->
                </div>


                {% if kind == 'relation' %}
                    {{relation_read(obj,True,False)}}
                {% endif %}

                {% if kind == 'hyperedgenode' %}
                    {{entity_read(obj,True)}}
                {% endif %}

                    <hr/>     
            {% endfor %}

        {% endif %}
    
            <div class="radio">
                
                <!-- Using NA as None is not a NICE string-->
                <label><input type="radio" name="match_id" value="##NA##" onclick="alert('A new graph object of kind {{kind}} with crawl_id {{ID}} will be inserted in core graph')"></input> No I don't find the graph object of kind {{kind}} here! </label> <!-- AA --> 

            </div>
            <hr/>

            {% if kind  == 'node' %} <!-- patch to not allow user to enter IDs for relations --> <!-- as relations have been handled only after nodes, relations are always absolutely resolved -->
            <div class="radio">
                
                
                <label><input type="radio" name="match_id" value="##ID##"></input> Will enter my own ID for kind {{kind}}:  </label> <!-- AA --> 

                <label><input type="text" name="input_id"/></label> <!-- AA --> 

            </div>

            <hr/>
            {% endif %}

        <div class="form-group">
            <label class="col-md-4 control-label" for=""></label>
            <div class="col-md-4">
            <!-- Button -->
            <button type="submit" name="submit" class="btn btn-default" value="submit">Submit</button>
            </div>
        </div>

    </form>

</div>
   
{% endblock %}