<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
    <!--<div class="container">-->
        <br/>
        <h1>Task ID : {{taskID}}</h1>
        <br/> 
    <!--</div> container-->

    <h3>To be matched</h3>
    {{entity_read(row,True)}}
    <hr/>


    <form class="form-horizontal" method="post" action={{url_for('verifier.match')}}>

        <h3>From graph</h3>
        <br/>

        {% for node in graphnodes %}
        
            <div class="radio">
                <label><input type="radio" name="match_uuid" value="{{node.properties['uuid']}}"></input> {{node.properties['uuid']}}</label>
            </div>                
            {{entity_read(node,True)}}
            <hr/>
            
        {% endfor %}
    
            <div class="radio">
                
                <!-- Using NA as None is not a NICE string-->
                <label><input type="radio" name="match_uuid" value="NA"></input> No I don't find the entity here! </label> 

            </div>
            <hr/>


        <div class="form-group">
            <label class="col-md-4 control-label" for=""></label>
            <div class="col-md-4">
            <!-- Button -->
            <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>

    </form>


   
{% endblock %}