<!-- extend base layout -->
{% extends "basic.html" %}
{% block content %}
     <div class="starter-template" align="center" >
        <h3>

            Welcome verifier! <hr/><br/>


            {{unresolvedTotal}} nodes to resolve in total (locked and unlocked) <br/>

            {{unlockedUnresolvedTotal}} unlocked, unresolved nodes (connected and nonconnected)<br/>

            {{immediateUnResolvedTotal}} connected nodes to immediately resolve (unlocked, connected, unresolved)<br/><br/>

            <a href={{url_for('verifier.startTask', kind = 'node', tasktype='crawl')}}>
                    <button type="submit" class="btn btn-primary">Resolve Nodes!</button>
            </a>
            <br/>
            <hr/>


            {{r_unresolvedTotal}} relations to resolve(locked and unlocked) <br/>
            {{r_beingResolved}} relations being resolved(locked and being resolved) <br/>
            {{r_immediateUnResolvedTotal}} relations to immediately resolve<br/>

            <br/>




            <a href={{url_for('verifier.startTask', kind = 'relation', tasktype='crawl')}}>
                    <button type="submit" class="btn btn-primary">Resolve Relations!</button>
            </a>
            <br/>
            <hr/>


           <!--  {{h_unresolvedTotal}} hyper-edge-nodes to resolve <br/>
            {{h_immediateUnResolvedTotal}} hyper-edge-nodes to immediately resolve<br/>

            <br/>




            <a href={{url_for('verifier.startTask', kind = 'hyperedgenode',tasktype='crawl')}}>
                    <button type="submit" class="btn btn-primary">Resolve Hyper-Edge-Nodes!</button>
            </a>
            <br/> -->

            {{n_wiki_total}} nodes to moderate in total (locked and non-locked) <br/>
            {{n_wiki_actual}} nodes to moderate immediately (non-locked)  <br/>
            <br/>

            <a href={{url_for('verifier.startTask', kind = 'node', tasktype='wiki')}}>
                    <button type="submit" class="btn btn-primary">Moderate Nodes</button>
            </a>
            <hr/>
            <br/>

            {{r_wiki_total}} relations to moderate in total (locked and non-locked) <br/>
            {{r_wiki_actual}} relations to moderate immediately (non-locked)  <br/>


            <br/>

            <br/>

            <a href={{url_for('verifier.startTask', kind = 'node', tasktype='wiki')}}>
                    <button type="submit" class="btn btn-primary">Moderate Relations</button>
            </a>
            <br/>

            <hr/>

        </h3>



    </div>



<!--

</div> -->
{% endblock %}
