<!-- extend base layout -->
{% extends "verifier_common.html" %}
{% block contentinner %}

    <a href={{ url_for('verifier.match', kind =kind , tasktype=tasktype) }}>
        <button type="submit" class="btn btn-primary">Back to matching!</button>
    </a>
    {{super()}}

{% endblock %}
{% block content %}
    {{super()}}
    <div class="starter-template" align="center" >

        <br/>
        <h4> Crawl Object Meta </h4><hr/>
        <b>Crawl ID :</b> {{crawl_id}}<br/>
        <b>Kind :</b> {{kind}} <br/>
        <b>sourceurl:</b> <a href="{{crawl_obj_original['_sourceurl_']}}">{{crawl_obj_original['_sourceurl_']}}</a><br/>
        {%if kind == 'relation'%}
          <b>Crawl Relation type : </b> {{naya.type}}<br/>
        {%endif%}
        <br/><br/>
        <h4> Core Graph Object Meta </h4><hr/>

        {%if kind == 'node'%} <!--patch added as relations are different -->
          <b>UUID :</b> {{orig['uuid']}}<br/>
          <b>Labels : </b> {{toPrintString(orig.labels)}}<br/>
          <b>Aliases :</b> {{toPrintString(orig['aliases'])}} <br/>
        {%endif%}
        {%if kind == 'relation'%}
          <b>RELID :</b> {{orig['relid']}}<br/>
          <b>Relation type : </b> {{orig.type}}<br/>
        {%endif%}
        <br/>


        <form class="form-horizontal" method="post" action={{url_for('verifier.diffPushGen', kind=kind, tasktype=tasktype)}}>
            <input type="hidden" name="##crawl_id##" value="{{crawl_id}}"/>

            <!--TODO: remove this not required-->
            {%if kind == 'relation'%}
              <input type="hidden" name="##core_id##" value="{{orig['relid']}}"/>
            {%endif%}
            {%if kind == 'node'%}
              <input type="hidden" name="##core_id##" value="{{orig['uuid']}}"/>
            {%endif%}

            <input type="hidden" name="##kind##" value="{{kind}}"/>
            <hr/>
            <!--Outside conf props -->
            <h4>Select type of diff task</h4>

            <div class="checkbox">

                <label><input type="checkbox" name="justresolve" value="##justresolve##" data-toggle="modal" data-target=".bs-example-modal-sm2"></input> Just Resolve. Don't push/edit anything. </label>

            </div>




            <div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <h3 class="modal-title">Warning</h3>
                        </div>
                        <div class="modal-body">
                            <p> ONLY object will be resolved.<br/>
                                <b>Nothing will be pushed</b> EVEN if you select other options.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->





                        <!--
                        <div class="radio">
                            <label><input type="radio" name="justresolve" value="##dontjustresolve##" checked="true"></input> Use the values selected </label>
                        </div> -->
                        <hr/>
                        {% if new_labels %}
                            <h4>New labels to add</h4>
                            <table class="table  table-hover">
                                {% for label in new_labels%}
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="newlabels" value="{{label}}"></input> <b>{{label}}</b>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}

                        </table>
                        <br/>
                    {% endif %}
                    {% if new_props %}
                        <h4>New properties to add</h4>
                        <table class="table table-hover">

                            {% for prop in new_props%}
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label><input type="checkbox" name="{{prop}}" value="{{naya[prop]}}"></input> {{prop}}: <b>{{naya[prop]}}</b> </label>
                                            <p>type: {{strType(naya[prop])}}</p>
                                        </div>

                                    </td>
                                </tr>
                            {% endfor %}

                        </table>
                        <br/>
                    {% endif %}
                    {% if conf_props %}
                        <h4>Conflicting properties to resolve</h4>
                        <table class="table table-hover">

                            <tr>
                                <td>
                                    <b>Original</b>
                                </td>
                                <td>
                                    <b>New</b>
                                </td>
                                <td>
                                    <b>Extra Info</b>
                                </td>
                            </tr>
                            {% for prop in conf_props%}
                                {% set origprop, nayaprop = diffObjects( orig[prop]|string, naya[prop]|string ) %}

                                <tr>
                                    <td>
                                        <div class="radio">
                                            <label>
                                                <!--checked is very imp very very imp!-->
                                                <!-- else null goes or nothing goes and that creates a problem! -->
                                                <input type="radio" name="{{prop}}" value="orig" checked=""></input> {{prop}}: <b>{{origprop | safe}}</b>
                                                <p>type: {{strType(orig[prop])}}</p>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="{{prop}}" value="naya"></input> {{prop}}: <b>{{nayaprop | safe}}</b>
                                                <p>type: {{strType(naya[prop])}}</p>
                                            </label>
                                        </div>
                                    </td>

                                    <td>
                                        {% if prop == 'name' or prop=='aliases'%}

                                            <div>
                                                <label>Will merge new prop to 'aliases' if new selected</label>
                                            </div>

                                        {% else %}
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="{{prop}}" value="merge"></input> <b>Merge Both</b>
                                                <p>if types different: will convert to [] of strs</p>
                                            </label>
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                        </table>
                        <br/>
                    {% endif %}

                    <div class="form-group">
                        <label class="col-md-4 control-label" for=""></label>
                        <div class="col-md-4">
                            <!-- Button -->
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endblock %}
